<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー情報更新</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>

	<h1>ユーザ情報の変更</h1>
	
	<!--ユーザ情報の確認  -->
	<table class="itemview-6">
		<tr>
			<td>名前:</td>
			<td th:text="${session.accountInfo.name}"></td>
		</tr>

		<tr>
			<td>住所:</td>
			<td th:text="${session.accountInfo.address}"></td>
		</tr>
		<tr>
			<td>電話番号:</td>
			<td th:text="${session.accountInfo.tel}"></td>
		</tr>
		<tr>
			<td>メールアドレス:</td>
			<td th:text="${session.accountInfo.email}"></td>
		</tr>
		<tr>
			<td>パスワード:</td>
			<td th:text="${session.accountInfo.pass}"></td>
		</tr>

	</table>

	<br>
	<hr>

	<!-- アカウント更新、入力フォーム -->
	<form action="/update" method="post">

		<table class="itemview-6">
			<tr>
				<td>名前</td>
				<td><input type="text" name="name"></td>
			</tr>

			<tr>
				<td>住所</td>
				<td><input type="text" name="address"></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><input type="text" name="tel"></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td><input type="text" name="pass"></td>
			</tr>

		</table>

		<br>
		<hr>
		<!-- 未入力があった場合のメッセージ表示 -->
		<span th:text="${message}" style="color: red"></span> 
		
		<!-- 変更確定ボタン -->
		<input
			type="submit" value="変更を確定" class="btn5"
			style="display: block; margin: auto;">
	</form>

	<br>
	

	<!-- アカウント削除ボタン -->
	<form action="/accountDelete" method="post">
		<input type="submit" value="アカウント削除" class="btn5"
			style="display: block; margin: auto;">
	</form>
	
	<!-- 商品一覧へ戻るリンク -->
	<h3 style="text-align: center">
	<a href="/showItem">商品一覧へ戻る</a>
	</h3>
	
	<!-- ログアウトへのリンク -->
	<h2  style="text-align: center">
	<span th:replace="logout"></span>
	</h2>

</body>
</html>