<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カートの中身</title>
</head>
<body>

	<h1>カートの中身</h1>
	
	<form action="/purchaseCart">

	<table border="1">
		<tr>
			<td>商品名</td>
			<td>値段</td>
			<td>個数</td>
			<td>合計</td>
			<td></td>
			<!-- <td th:text="${item.value.price * item.value.quantity}"></td> -->
		</tr>
		
		<tr th:each="item : ${items}">
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.price * item.value.quantity}"></td>
			<td>
				<a th:href="|/cart/delete/${item.value.code}|">削除</a>
			</td>
		</tr>
	</table>
	
	<span th:text="${total}"></span>
	
	<br>
	
	<input type="submit" value="購入する">
	
	<br>
	
	<a href="/showItem">商品一覧へ戻る</a>

	</form>

</body>
</html>