<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>

	<h1 style="text-align:center">ログイン</h1>
	
	<!-- エラーメッセージを表示 -->
	<span th:text="${message}" style="color: red"></span>
	
	
	<!-- ログインボタンを押したらアイテム一覧へ飛ぶ -->
	<form action="login" method="post">
		<table class="itemview-6">
			<tr>
				<td>名前</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td><input type="password" name="pass"></td>
			</tr>
		</table>
		
		<br>
		
		<!-- ログインボタン -->
		<input type="submit" value="ログイン" class="btn5"  style="display:block;margin: auto;">
	</form>

</body>
</html>