<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<h1 style="text-align:center">新規登録</h1>

	<span th:text="${message}" style="color: red"></span>

	<form action="/newAccount" method="post">

		<!-- 新規登録情報入力フォーム -->
		<table class="itemview-6">
			<tr>
				<td>名前</td>
				<td><input type="text" name="name"></td>

			</tr>

			<tr>
				<td>住所</td>
				<td><input type="text" name="address"></td>

			</tr>

			<tr>
				<td>電話番号</td>
				<td><input type="text" name="tel"></td>

			</tr>

			<tr>
				<td>メールアドレス</td>
				<td><input type="text" name="email"></td>

			</tr>

			<tr>
				<td>パスワード</td>
				<td><input type="password" name="pass"></td>

			</tr>
		</table>
		
		<br>

		<input type="submit" value="登録" class="btn5"  style="display:block;margin: auto;">

	</form>

</body>
</html>