<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アイテム一覧</title>

<link rel="stylesheet" href="/common.css">
</head>
<body>

	<h1 style="text-align:center">商品一覧</h1>
	
	<br>
	
	<!-- ユーザ情報の閲覧へ遷移するボタン -->
	<div class='btn4'>
		<a href="/accountInfo">ユーザー情報を見る</a>
	</div>
	
	<!--出品ページへ遷移するボタン  -->
	<div class='btn3'>
		<a href="/addItem">出品する</a>
	</div>
	
	<br>
	
	<!-- 商品一覧テーブル -->
	<table class="itemview-1">
            <tr th:each="item:${items}">
                <td>
                    <img th:src="|/${item.picture}|" />
                </td>
                <td>
                    <p>
                        <b th:text="${item.name}"></b>
                    </p>
                    <p>
                        ￥<span th:text="${item.price}"></span>
                    </p>
                    <div class="buttons">
                        <a th:href="|/itemDetail/${item.code}|">
                            <button>詳細画面へ</button>
                        </a>
                        <form th:action="|/cart/add/${item.code}|" method="post">
                            <input type="submit" value="カートに追加">
                        </form>
                        <a th:href="|/updateItem/${item.code}|">
                            <button>変更</button>
                        </a>
                        <a th:href="|/deleteItem/${item.code}|">
                            <button>削除</button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>

	<!-- ログアウト -->
	<h3 style="text-align: center">
		 <i class="fas fa-angle-right fa-position-right"></i>
		 <span th:replace="logout"></span>
	</h3>

</body>
</html>