<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Top</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>

	<h1 style="text-align: center">
		<font face="Train One">Book Store</font>
	</h1>


	<!-- <a href="/newAccount" class="btn btn--yellow btn--circle">新規登録</a>
	<a href="/login">ログイン</a> -->
	
		<div class="button_line006">
		  <a href="/newAccount">新規登録</a>
		</div>
		
		<br>
		
		<div class="button_line006">
		  <a href="/login">ログイン</a>
		</div>

</body>
</html>